*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.dataTables_filter {
  display: none;
  visibility: hidden;
}

body {
  background-color: #D2D6DE;
}

.login .container .login__container--box {
  height: 300px;
  width: 320px;
  margin: 0 auto;
  margin-top: calc(20% - 150px);
  text-align: center;
}

.login .container .login__container--box h1 {
  padding: 30px 0;
}

.login .container .login__container--box .login__form {
  background-color: #fff;
  padding: 25px;
}

.login .container .login__container--box .login__form h3 {
  margin-bottom: 15px;
}

.login .container .login__container--box .login__form .username_container,
.login .container .login__container--box .login__form .password_container {
  position: relative;
}

.login .container .login__container--box .login__form .username_container input,
.login .container .login__container--box .login__form .password_container input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 14px;
  padding-right: 25px;
}

.login .container .login__container--box .login__form .username_container .icons,
.login .container .login__container--box .login__form .password_container .icons {
  position: absolute !important;
  top: 11px;
  right: 8px;
}

.login .container .login__container--box .login__form .username_container input:focus,
.login .container .login__container--box .login__form .password_container input:focus {
  outline: 1px solid blueviolet;
}

.login .container .login__container--box .login__form .submit {
  margin-top: 5px;
}

.login .container .login__container--box .login__form .submit .submit_btn {
  width: 100px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #3c8dbc;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.login .container .login__container--box .login__form .submit .submit_btn:hover {
  background-color: #1f6f9e;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.header .header__container {
  height: 50px;
  padding-left: 230px;
  background-color: #0F2D4F;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header .header__container .user__profile--btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
}

.header .header__container .user__profile--btn:hover {
  background-color: #133e6e;
}

.update__form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.update__form .update__form--close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.update__form .update__form--close:hover {
  color: #FFC107;
}

.update__form .dialog {
  width: 450px;
  height: auto;
  border-radius: 8px;
  background-color: #F8F9FA;
  padding-bottom: 10px;
}

.update__form .dialog .dialog--heading {
  border-bottom: 1px solid #343A40;
  margin-bottom: 10px;
}

.update__form .dialog .dialog--heading h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.6rem;
}

.update__form .dialog .form__group {
  padding: 0 15px;
}

.update__form .dialog .form__group input,
.update__form .dialog .form__group select {
  display: block;
}

.update__form .dialog .form__group label {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: #343A40;
}

.update__form .dialog .form__group .error--msg {
  font-size: 15px;
  color: #FFC107;
}

.update__form .dialog .form__group input,
.update__form .dialog .form__group select,
.update__form .dialog .form__group .save--btn {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
  border: 1px solid #007BFF;
}

.update__form .dialog .form__group input:focus {
  outline: 1px solid #6C757D;
}

.update__form .dialog .form__group .save--btn {
  cursor: pointer;
  background-color: #007BFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 1.1rem;
}

.update__form .dialog .form__group .save--btn:hover {
  background-color: #6C757D;
}

.update__form.close {
  top: -200%;
}

.user__main .user__main--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 300px 1fr;
      grid-template-columns: 300px 1fr;
  grid-gap: 0 10px;
}

.user__main .user__main--container .insert--container .user--form {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 10px;
}

.user__main .user__main--container .insert--container .user--form .user__dialog .form__group {
  margin-bottom: 5px;
}

.user__main .user__main--container .insert--container .user--form .user__dialog .form__group label,
.user__main .user__main--container .insert--container .user--form .user__dialog .form__group input {
  display: block;
}

.user__main .user__main--container .insert--container .user--form .user__dialog .form__group input,
.user__main .user__main--container .insert--container .user--form .user__dialog .form__group select {
  width: 100%;
  font-size: 14px;
  padding: 3px 5px;
}

.user__main .user__main--container .insert--container .user--form .user__dialog .form__group .user__save--btn {
  background-color: #007BFF;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 14px;
  color: #F8F9FA;
  cursor: pointer;
  margin-top: 5px;
  border-radius: 8px;
}

.user__main .user__main--container .insert--container .user--form .user__dialog .form__group .user__save--btn:hover {
  background-color: #6C757D;
}

.user__main .user__main--container .show--container {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 10px;
}

.user__main .user__main--container .show--container .show__table--container .user__table,
.user__main .user__main--container .show--container .show__table--container tr, .user__main .user__main--container .show--container .show__table--container th, .user__main .user__main--container .show--container .show__table--container td {
  border: 1px solid black;
  border-collapse: collapse;
}

.user__main .user__main--container .show--container .show__table--container .user__table thead .table__heading--user {
  background-color: #007BFF;
  color: #F8F9FA;
}

.user__main .user__main--container .show--container .show__table--container .user__table thead th {
  padding: 5px 0;
}

.user__main .user__main--container .show--container .show__table--container .user__table tbody td {
  font-size: 14px;
  padding: 5px 0;
}

.menu {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .toggle__btn--container {
  position: relative;
}

.menu .toggle__btn--container .toggle__btn {
  position: absolute;
  top: 10px;
  right: -20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.menu .toggle__btn--container .toggle__btn .border__box {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.menu .company__logo {
  width: 100%;
  height: 50px;
  background-color: #0F2D4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .company__logo a img {
  height: 50px;
  width: auto;
}

.menu .menu__ul {
  padding: 10px;
}

.menu .menu__ul li {
  margin: 2px 0;
  font-size: 1.2rem;
  padding: 0 5px;
}

.menu .menu__ul li .links {
  display: inline-block;
  padding: 8px 0;
  width: 100%;
  position: relative;
}

.menu .menu__ul li .links .menu__icons {
  padding-left: 12px;
  padding-right: 8px;
}

.menu .menu__ul li .links .menu__contents {
  position: absolute;
  left: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .menu__ul li .links .menu__contents.toggled__content {
  left: -200%;
}

.menu .menu__ul li .links:hover {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
}

.menu .menu__ul li .drop__menu {
  display: none;
  visibility: hidden;
  padding-left: 45px;
}

.menu .menu__ul li .drop__menu__li--links {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 2px 5px;
  margin: 1px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 0;
}

.menu .menu__ul li .drop__menu__li--links:hover {
  background-color: #FFFFFF;
  color: #343A40;
  border-radius: 4px;
}

.menu .menu__ul li .drop__menu.drop__menu--toggle {
  display: block;
  visibility: visible;
}

.menu.toggled {
  width: 80px !important;
}

.user__login--info {
  width: 180px;
  background-color: #343A40;
  color: #F8F9FA;
  position: fixed;
  top: -200px;
  right: 0;
  padding: 5px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user__login--info .username,
.user__login--info .designation,
.user__login--info .logout {
  text-align: center;
}

.user__login--info .username {
  padding: 5px;
  margin: 0 0 0 5px;
}

.user__login--info .designation {
  margin: 0 0 0 5px;
}

.user__login--info .designation span {
  font-size: 10px;
}

.user__login--info .logout {
  margin-top: 5px;
}

.user__login--info .logout a {
  display: block;
  background-color: #F8F9FA;
  color: #343A40;
  padding: 5px;
  border-radius: 8px;
  width: 60%;
  margin: auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.user__login--info .logout a:hover {
  background-color: #FFC107;
  color: #FFFFFF;
}

.user__login--info.activeClick {
  top: 52px;
}

.supplier__submit--form,
.client__submit--form {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.supplier__submit--form .supplier__submit__form--close,
.supplier__submit--form .client__submit__form--close,
.client__submit--form .supplier__submit__form--close,
.client__submit--form .client__submit__form--close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 2rem;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.supplier__submit--form .supplier__submit__form--close:hover,
.client__submit--form .supplier__submit__form--close:hover {
  color: #FFC107;
}

.supplier__submit--form .client__submit__form--close:hover,
.client__submit--form .client__submit__form--close:hover {
  color: #FFC107;
}

.supplier__submit--form .supplier__dialog,
.client__submit--form .supplier__dialog {
  width: 450px;
  height: auto;
  border-radius: 8px;
  background-color: #F8F9FA;
  padding-bottom: 10px;
}

.supplier__submit--form .supplier__dialog .supplier__dialog--heading,
.client__submit--form .supplier__dialog .supplier__dialog--heading {
  border-bottom: 1px solid #343A40;
  margin-bottom: 10px;
}

.supplier__submit--form .supplier__dialog .supplier__dialog--heading h3,
.client__submit--form .supplier__dialog .supplier__dialog--heading h3 {
  text-align: center;
  padding: 10px 0;
  font-size: 1.6rem;
}

.supplier__submit--form .supplier__dialog .form__group,
.client__submit--form .supplier__dialog .form__group {
  padding: 0 15px;
}

.supplier__submit--form .supplier__dialog .form__group input,
.supplier__submit--form .supplier__dialog .form__group select,
.client__submit--form .supplier__dialog .form__group input,
.client__submit--form .supplier__dialog .form__group select {
  display: block;
}

.supplier__submit--form .supplier__dialog .form__group label,
.client__submit--form .supplier__dialog .form__group label {
  display: inline-block;
  width: 100%;
  font-size: 1.2rem;
  color: #343A40;
}

.supplier__submit--form .supplier__dialog .form__group .error--msg,
.client__submit--form .supplier__dialog .form__group .error--msg {
  font-size: 15px;
  color: #FFC107;
}

.supplier__submit--form .supplier__dialog .form__group input,
.supplier__submit--form .supplier__dialog .form__group select,
.supplier__submit--form .supplier__dialog .form__group .save--btn,
.client__submit--form .supplier__dialog .form__group input,
.client__submit--form .supplier__dialog .form__group select,
.client__submit--form .supplier__dialog .form__group .save--btn {
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  padding: 7px;
  border: 1px solid #007BFF;
}

.supplier__submit--form .supplier__dialog .form__group input:focus,
.client__submit--form .supplier__dialog .form__group input:focus {
  outline: 1px solid #6C757D;
}

.supplier__submit--form .supplier__dialog .form__group .save--btn,
.client__submit--form .supplier__dialog .form__group .save--btn {
  cursor: pointer;
  background-color: #007BFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #FFFFFF;
  font-size: 1.1rem;
}

.supplier__submit--form .supplier__dialog .form__group .save--btn:hover,
.client__submit--form .supplier__dialog .form__group .save--btn:hover {
  background-color: #6C757D;
}

.supplier__submit--form.close,
.client__submit--form.close {
  top: -200%;
}

.main .container .show__table--container .table {
  background-color: #F8F9FA;
  padding: 10px;
  border-radius: 12px;
}

.main .container .show__table--container .table thead {
  background-color: #6C757D !important;
}

.main .container .show__table--container .table thead tr {
  height: 40px;
  background-color: #6C757D !important;
  color: #FFFFFF;
  border: none;
}

.main .container .show__table--container .table thead tr td {
  border: none;
  margin: 0 !important;
}

.main .container .show__table--container .table tbody tr {
  text-align: center;
}

.main .container .show__table--container .table tbody tr td {
  padding: 10px 0;
}

.main .container .show__table--container .table tbody tr:nth-child(even) {
  background-color: #d8d2d2;
  color: #343A40;
}

.errors--msg {
  background-color: #FFC107;
  color: #F8F9FA;
  border: 1px solid #DC3545;
}

.success--msg {
  background-color: #28A745;
  color: #F8F9FA;
  border: 1px solid #17A2B8;
}

.process--msg {
  background-color: #17A2B8;
  color: #343A40;
  border: 1px solid #343A40;
}

.response {
  z-index: 1001;
  width: 250px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 150px;
  right: 0;
  font-size: 1.2rem;
}

.main {
  margin-left: 290px;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
  margin-top: 50px;
}

.main .container .show--container .heading__btn--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main .container .show--container .heading__btn--container h3 {
  color: #007BFF;
}

.main .container .show--container .heading__btn--container .btn__container button {
  border: 0;
  background-color: #17A2B8;
  font-size: 1rem;
  padding: 5px;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
}

.main .container .show--container .dataTables_filter input {
  font-size: 1rem !important;
  padding: 3px !important;
}

.main .container .show--container .dataTables_filter input:focus {
  outline: 1px solid #007BFF;
}

.main .container .show--container .table {
  font-size: 14px;
}

.main .container .show--container .table tbody tr td .status {
  border-radius: 4px;
  background-color: #28A745;
  color: #FFFFFF;
  padding: 3px;
}

.main .container .show--container .table tbody tr td .print,
.main .container .show--container .table tbody tr td .update,
.main .container .show--container .table tbody tr td .delete {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 0.90rem;
}

.main .container .show--container .table tbody tr td .print {
  margin-right: 5px;
  color: #28A745;
}

.main .container .show--container .table tbody tr td .update {
  margin-right: 5px;
  color: #007BFF;
}

.main .container .show--container .table tbody tr td .delete {
  color: #DC3545;
}

.main .container .show--container .table tbody tr .supplier__address {
  width: 15%;
}

.main .container .show--container .table #categoryFatchTable tr td,
.main .container .show--container .table #supplierFatchTable tr td,
.main .container .show--container .table #clientFatchTable tr td,
.main .container .show--container .table #subCategoryFatchTable tr td {
  text-align: center !important;
}

.main .brands--container {
  width: 100%;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 0 10px;
}

.main .brands--container .insert--container {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.main .brands--container #response {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.main .brands--container .show--container {
  background-color: #f0e4e4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.main .brands--container .show--container .show__table--container .heading--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .brands--container .show--container .show__table--container .heading--container h3 {
  padding: 10px;
  color: #007BFF;
  font-size: 1.5rem;
}

.main .brands--container .show--container .show__table--container .brands--table {
  padding: 5px;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr {
  width: 100%;
  display: inline-block;
  background-color: #6C757D;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th {
  color: #FFFFFF;
  border-right: 1px solid #007BFF;
  padding: 5px 0;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th:nth-of-type(1) {
  width: 10%;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th:nth-of-type(2) {
  width: 35%;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th:nth-of-type(3) {
  width: 15%;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th:nth-of-type(4) {
  width: 15%;
}

.main .brands--container .show--container .show__table--container .brands--table thead tr th:nth-of-type(5) {
  width: 15%;
  border-right: none;
}

.main.toggled__margin--left {
  margin-left: 80px !important;
}
/*# sourceMappingURL=style.css.map */