*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

body {
  background-color: #D2D6DE;
}

.login .container .login__container--box {
  height: 300px;
  width: 320px;
  margin: 0 auto;
  margin-top: calc(20% - 150px);
  text-align: center;
}

.login .container .login__container--box h1 {
  padding: 30px 0;
}

.login .container .login__container--box .login__form {
  background-color: #fff;
  padding: 25px;
}

.login .container .login__container--box .login__form h3 {
  margin-bottom: 15px;
}

.login .container .login__container--box .login__form .username_container,
.login .container .login__container--box .login__form .password_container {
  position: relative;
}

.login .container .login__container--box .login__form .username_container input,
.login .container .login__container--box .login__form .password_container input {
  width: 100%;
  margin: 5px 0;
  padding: 5px;
  font-size: 14px;
  padding-right: 25px;
}

.login .container .login__container--box .login__form .username_container .icons,
.login .container .login__container--box .login__form .password_container .icons {
  position: absolute !important;
  top: 11px;
  right: 8px;
}

.login .container .login__container--box .login__form .username_container input:focus,
.login .container .login__container--box .login__form .password_container input:focus {
  outline: 1px solid blueviolet;
}

.login .container .login__container--box .login__form .submit {
  margin-top: 5px;
}

.login .container .login__container--box .login__form .submit .submit_btn {
  width: 100px;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  background-color: #3c8dbc;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.login .container .login__container--box .login__form .submit .submit_btn:hover {
  background-color: #1f6f9e;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
}

.header .header__container {
  height: 50px;
  padding-left: 230px;
  background-color: #0F2D4F;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 150px;
      grid-template-columns: 1fr 150px;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.header .header__container .user__profile--btn {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  background-color: transparent;
  color: #fff;
  border: 0;
  cursor: pointer;
}

.header .header__container .user__profile--btn:hover {
  background-color: #133e6e;
}

.menu {
  width: 290px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .toggle__btn--container {
  position: relative;
}

.menu .toggle__btn--container .toggle__btn {
  position: absolute;
  top: 10px;
  right: -20px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

.menu .toggle__btn--container .toggle__btn .border__box {
  width: 20px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
}

.menu .company__logo {
  width: 100%;
  height: 50px;
  background-color: #0F2D4F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu .company__logo a img {
  height: 50px;
  width: auto;
}

.menu .menu__ul {
  padding: 10px;
}

.menu .menu__ul li {
  margin: 2px 0;
  font-size: 1.2rem;
  padding: 0 5px;
}

.menu .menu__ul li .links {
  display: inline-block;
  padding: 10px 0;
  width: 100%;
  position: relative;
}

.menu .menu__ul li .links .menu__icons {
  padding-left: 12px;
  padding-right: 8px;
}

.menu .menu__ul li .links .menu__contents {
  position: absolute;
  left: 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .menu__ul li .links .menu__contents.toggled__content {
  left: -200%;
}

.menu .menu__ul li .links:hover {
  background-color: #fff;
  border-radius: 4px;
  color: #000;
}

.menu .menu__ul li .drop__menu {
  display: none;
  visibility: hidden;
  padding-left: 45px;
}

.menu .menu__ul li .drop__menu__li--links {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
  padding: 5px;
  margin: 1px 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.menu .menu__ul li .drop__menu__li--links:hover {
  background-color: #fff;
  color: #000;
  border-radius: 4px;
}

.menu .menu__ul li .drop__menu.drop__menu--toggle {
  display: block;
  visibility: visible;
}

.menu.toggled {
  width: 80px !important;
}

.main {
  margin-left: 290px;
  padding: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  overflow-x: hidden;
  margin-top: 50px;
}

.main .container {
  position: relative;
}

.main .container .box__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.main .container .box__container .boxs {
  width: 100%;
  height: 100px;
  background-color: orange;
  text-align: center;
  padding: 6px 3px;
  font-size: 1.2rem;
}

.main .container .box__container .boxs div {
  margin-top: 16px;
  font-size: 1.5rem;
}

.main .container .insert__show--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 140px 1fr;
      grid-template-rows: 140px 1fr;
  grid-gap: 20px;
}

.main .container .insert__show--container .insert h3 {
  margin-bottom: 10px;
}

.main .container .insert__show--container .insert .insert__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.main .container .insert__show--container .insert .insert__form .insert__form--input input,
.main .container .insert__show--container .insert .insert__form .insert__form--input select,
.main .container .insert__show--container .insert .insert__form .insert__form--select input,
.main .container .insert__show--container .insert .insert__form .insert__form--select select {
  width: 100%;
  font-size: 14px;
  padding: 5px 8px;
}

.main .container .insert__show--container .insert .insert__form .insert__form--input input:focus,
.main .container .insert__show--container .insert .insert__form .insert__form--select input:focus {
  outline: 1px solid cornflowerblue;
}

.main .container .insert__show--container .insert .insert__form .insert__form--submit .submit {
  width: 30%;
  background-color: cornflowerblue;
  color: #fff;
  border: 0;
  outline: none;
  height: 100%;
  cursor: pointer;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.main .container .insert__show--container .insert .insert__form .insert__form--submit .purchase__req--submit {
  height: 30px;
}

.main .container .insert__show--container .insert .insert__form .insert__form--submit .submit:hover {
  background-color: #4d84e9;
}

.main .container .insert__show--container .insert .product__insert--form {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.main .container .insert__show--container .show__table--container .heading__search--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .insert__show--container .show__table--container .heading__search--container h3 {
  margin-bottom: 10px;
}

.main .container .insert__show--container .show__table--container .heading__search--container .search__container {
  margin: 5px 0;
}

.main .container .insert__show--container .show__table--container .heading__search--container .search__container input {
  width: 200px;
  font-size: 1rem;
  padding: 6px 10px;
  border-radius: 4px;
  border: none;
}

.main .container .insert__show--container .show__table--container .heading__search--container .search__container input:focus {
  outline: none;
}

.main .container .insert__show--container .show__table--container .table, .main .container .insert__show--container .show__table--container tr, .main .container .insert__show--container .show__table--container th, .main .container .insert__show--container .show__table--container td {
  border: 1px solid #000;
  border-collapse: collapse;
}

.main .container .insert__show--container .show__table--container .table {
  width: 100%;
}

.main .container .insert__show--container .show__table--container .table .table__heading {
  background-color: orange;
  color: #fff;
}

.main .container .insert__show--container .show__table--container .table .table__heading .table__heading--items {
  padding: 4px 0;
  font-size: 1.2rem;
}

.main .container .insert__show--container .show__table--container .table .table__heading .name {
  width: 75%;
}

.main .container .insert__show--container .show__table--container .table .table--data:nth-child(even) {
  background-color: #fff;
}

.main .container .insert__show--container .show__table--container .table .table--data {
  text-align: center;
}

.main .container .insert__show--container .show__table--container .table .table--data .table--data--items {
  padding: 5px 0;
}

.main .container .insert__show--container .show__table--container .table .table--data .table--data--action .update,
.main .container .insert__show--container .show__table--container .table .table--data .table--data--action .delete {
  border: none;
  background-color: transparent;
  color: blue;
  padding: 0 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.main .container .insert__show--container .show__table--container .table .table--data .table--data--action .update:hover,
.main .container .insert__show--container .show__table--container .table .table--data .table--data--action .delete:hover {
  color: crimson;
}

.main .container .insert__show--container .show__table--container .supplier__table tr th {
  padding: 5px 0;
  font-size: 12px;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .sl {
  width: 3%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .supplier--name {
  width: 15%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .contact--person {
  width: 15%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .contact--number {
  width: 8%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .email {
  width: 20%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .whatsapp--number {
  width: 8%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .address {
  width: 14%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .status {
  width: 5%;
}

.main .container .insert__show--container .show__table--container .supplier__table tr .action {
  width: 7%;
}

.main .container .insert__show--container .show__table--container .client__table tr th {
  padding: 5px 0;
  font-size: 12px;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__sl {
  width: 3%;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__name {
  width: 15%;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__contact--person {
  width: 15%;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__contact--number {
  width: 10%;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__email {
  width: 20%;
}

.main .container .insert__show--container .show__table--container .client__table tr .client__address {
  width: 25%;
}

.main .container .insert__show--container .show__table--container .client__table tr .action {
  width: 12%;
}

.main .container .insert__show--container .products__show--table--container {
  width: 100%;
}

.main .container .insert__show--container .products__show--table--container .product__table .product__table--data .sl {
  width: 4%;
}

.main .container .insert__show--container .products__show--table--container .product__table .product__table--data .product--name, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .brands, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .category, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .stock, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .p_price, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .s_price, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .status, .main .container .insert__show--container .products__show--table--container .product__table .product__table--data .action {
  width: 12%;
}

.main .container .insert__show--container .stock__show--table--container {
  width: 100%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .sl {
  width: 8%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .product--name {
  width: 16%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .brands {
  width: 7%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .category {
  width: 10%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .sub__category {
  width: 13%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .model {
  width: 8%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .stock {
  width: 6%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .p_price {
  width: 8%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .s_price {
  width: 8%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .status {
  width: 8%;
}

.main .container .insert__show--container .stock__show--table--container .stock__table .stock__table--data .action {
  width: 8%;
}

.main .container .insert__show--container .insert__show--container--heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .insert__show--container .insert__show--container--heading .btn {
  width: 120px;
  height: 35px;
  background-color: #0F2D4F;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container .insert__show--container .insert__show--container--heading .btn:hover {
  background-color: #1c5391;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .actionDropdown {
  width: 80px;
  background-color: #17A2B8;
  border: none;
  padding: 5px 0;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown {
  background-color: #343A40;
  width: 80%;
  margin: 0 10%;
  padding: 10px;
  border-radius: 8px;
  position: absolute;
  top: 35px;
  left: 0;
  display: none;
  visibility: hidden;
  z-index: 997;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown li .btn {
  width: 80px;
  background-color: #007BFF;
  border: none;
  padding: 5px 0;
  margin: 4px 0;
  border-radius: 8px;
  color: #FFFFFF;
  cursor: pointer;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown li .view {
  background-color: #6C757D;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown li .edit {
  background-color: #28A745;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown li .delete {
  background-color: #DC3545;
}

.main .container .insert__show--container .table--container table tbody tr .btn--container .dropdown.active {
  display: block;
  visibility: visible;
}

.main .container .client__insert__show--container {
  -ms-grid-rows: 100px 1fr;
      grid-template-rows: 100px 1fr;
}

.main .container .category__insert__show--container {
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
}

.main .container .sub__category__insert__show--container {
  -ms-grid-rows: 80px 1fr;
      grid-template-rows: 80px 1fr;
}

.main .container .products__insert__show--container {
  -ms-grid-rows: 1fr !important;
      grid-template-rows: 1fr !important;
  -ms-grid-columns: 400px 1fr;
      grid-template-columns: 400px 1fr;
}

.main .container .stock__insert__show--container {
  -ms-grid-rows: 1fr !important;
      grid-template-rows: 1fr !important;
  -ms-grid-columns: 1fr !important;
      grid-template-columns: 1fr !important;
}

.main .container .purchase__order__insert__show--container {
  -ms-grid-rows: 50px 1fr !important;
      grid-template-rows: 50px 1fr !important;
}

.main .container .purchase__insert__show--container {
  -ms-grid-rows: 200px;
      grid-template-rows: 200px;
}

.main .container .po__entry--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 1fr;
      grid-template-rows: 30px 1fr;
  grid-gap: 10px 0;
}

.main .container .po__entry--container .po__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

.main .container .po__entry--container .po__heading .po__list {
  color: #6C757D;
}

.main .container .po__entry--container .po__heading .arrow {
  padding: 0 8px;
}

.main .container .po__entry--container .po__form fieldset {
  background-color: #F8F9FA;
  border-radius: 8px;
  padding: 10px;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn label,
.main .container .po__entry--container .po__form fieldset .po__date__time label,
.main .container .po__entry--container .po__form fieldset .purchase__date__time label,
.main .container .po__entry--container .po__form fieldset .po__supplier label {
  display: inline-block;
  width: 100px;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn input,
.main .container .po__entry--container .po__form fieldset .po__date__time input,
.main .container .po__entry--container .po__form fieldset .purchase__date__time input,
.main .container .po__entry--container .po__form fieldset .po__supplier input {
  width: 180px;
  height: 28px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn input:focus,
.main .container .po__entry--container .po__form fieldset .po__date__time input:focus,
.main .container .po__entry--container .po__form fieldset .purchase__date__time input:focus,
.main .container .po__entry--container .po__form fieldset .po__supplier input:focus {
  outline: 1px solid #28A745;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn select,
.main .container .po__entry--container .po__form fieldset .po__date__time select,
.main .container .po__entry--container .po__form fieldset .purchase__date__time select,
.main .container .po__entry--container .po__form fieldset .po__supplier select {
  width: 220px;
  height: 28px;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn select:focus,
.main .container .po__entry--container .po__form fieldset .po__date__time select:focus,
.main .container .po__entry--container .po__form fieldset .purchase__date__time select:focus,
.main .container .po__entry--container .po__form fieldset .po__supplier select:focus {
  outline: 1px solid #28A745;
}

.main .container .po__entry--container .po__form fieldset .po__id__btn .btn,
.main .container .po__entry--container .po__form fieldset .po__date__time .btn,
.main .container .po__entry--container .po__form fieldset .purchase__date__time .btn,
.main .container .po__entry--container .po__form fieldset .po__supplier .btn {
  width: 40px;
  height: 28px;
  border: none;
  background-color: #007BFF;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  color: #fff;
}

.main .container .po__entry--container .po__form fieldset .po__date__time,
.main .container .po__entry--container .po__form fieldset .purchase__date__time,
.main .container .po__entry--container .po__form fieldset .po__supplier {
  margin: 10px 0;
}

.main .container .po__entry--container .po__form fieldset table, .main .container .po__entry--container .po__form fieldset tbody, .main .container .po__entry--container .po__form fieldset tr, .main .container .po__entry--container .po__form fieldset td {
  border-collapse: collapse;
}

.main .container .po__entry--container .po__form fieldset .po__item--table {
  text-align: center;
}

.main .container .po__entry--container .po__form fieldset .po__item--table input {
  border: 1px solid #17A2B8;
  outline: none;
  padding: 0 5px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items thead {
  height: 40px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items thead tr {
  background-color: #28A745;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items thead tr th {
  border: 1px solid #343A40;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr {
  height: 30px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr td {
  border: 1px solid #343A40;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr td input {
  height: 30px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr td select {
  height: 30px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__remove {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__remove button {
  font-size: 1rem;
  color: #DC3545;
  border: none;
  cursor: pointer;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__items {
  width: 25%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__items input {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__description {
  width: 20%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__description input {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__unit {
  width: 10%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__unit select {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__qty {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__qty input {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__price {
  width: 15%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__price input {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody tr .po__total {
  width: 20%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__subtotal td .po__subtotal--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__subtotal td .po__subtotal--content button {
  border: none;
  background: #007BFF;
  padding: 4px 5px;
  border-radius: 4px;
  margin-right: 10px;
  cursor: pointer;
  color: #F8F9FA;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__subtotal td .po__subtotal--content p {
  padding-right: 5px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__discount td .po__discount--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__discount td .po__discount--content p {
  padding-right: 5px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__discount td .po__discount--content input {
  width: 100px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .show__total td .po__total--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .show__total td .po__total--content p {
  padding-right: 5px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__comment p,
.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__status p {
  padding: 5px 0;
  font-size: 1.1rem;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__comment textarea,
.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__comment select,
.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__status textarea,
.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__status select {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__comment textarea {
  height: 120px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .add__comment__status--content td .po__comment__status--container .po__status select {
  outline: none;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .submit--content td .po__submit__cancel--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .submit--content td .po__submit__cancel--container .btn {
  width: 80px;
  height: 40px;
  border: none;
  border-radius: 4px;
  color: #F8F9FA;
  font-size: 1rem;
  cursor: pointer;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .submit--content td .po__submit__cancel--container .save__btn {
  background-color: #007BFF;
  margin-right: 10px;
}

.main .container .po__entry--container .po__form fieldset .po__item--table .po__items tbody .submit--content td .po__submit__cancel--container .cancel__btn {
  background-color: #FFC107;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr td input {
  width: 100%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .rm {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .rm button {
  font-size: 1rem;
  color: #DC3545;
  border: none;
  cursor: pointer;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .items {
  width: 20%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .description {
  width: 20%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .barcode {
  width: 10%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .warranty {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .unit {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .qty {
  width: 5%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .purchase__price {
  width: 10%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .selling__price {
  width: 10%;
}

.main .container .po__entry--container .po__form fieldset .purchase__item--table .purchase__items tbody tr .total {
  width: 10%;
}

.main .container .purchase__invoice__insert__show--container {
  -ms-grid-rows: 40px 1fr;
      grid-template-rows: 40px 1fr;
}

.main .container .purchase__invoice__insert__show--container .purchase__invoice--table table {
  width: 100%;
  font-size: 11px;
}

.main.toggled__margin--left {
  margin-left: 80px !important;
}
/*# sourceMappingURL=style.css.map */