.main{
    margin-left: 290px;
    padding: 20px;
    transition: all 0.3s ease;
    overflow-x: hidden;
    margin-top: 50px;
    .container{
        .insert__show--container{     
            .heading__btn--container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 20px;
                h3{
                    color: $text-primary;
                }
                .btn__container{
                    button{
                        border: 0;
                        background-color: $bg-info;
                        font-size: 1rem;
                        padding: 5px;
                        color: $text-white;
                        border-radius: 4px;
                        cursor: pointer;
                    }
                }
            }
            .table{
                font-size: 14px;
                tbody{
                    tr{
                        td{
                            .update,
                            .delete{
                                border: 0;
                                background-color: transparent;
                                cursor: pointer;
                                font-size: 1rem;
                            }
                            .update{
                                margin-right: 15px;
                                color: $text-primary;
                            }
                            .delete{
                                color: $text-danger;
                            }
                        }
                    }
                }
            }
        }
    }
}
.supplier__dialog{
    background-color: rgb(67, 167, 201);
    padding: 10px;
    font-size: 1rem;
    border-radius: 0px 0px 8px 8px;
}
.form__group{
    margin: 5px 0;
}
.form__group label{
    display: inline-block;
    width: 32%;
}
.form__group input{
    display: inline-block;
    width: calc(100% - 38%);
    padding: 5px;
    font-size: 1rem;
}
.form__group .error--msg{
    width: 70%;
    margin-left: 30%;
    padding-left: 10px;
    color: $text-danger;
}
.form__group input:focus{
    outline: 1px solid crimson;
}
.form__group select{
    display: inline-block;
    width: calc(100% - 38%);
    padding: 5px;
    font-size: 1rem;
}

.ui-dialog-titlebar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: crimson;
    padding: 0 10px;
    border-radius: 8px 8px 0 0;
}
.ui-dialog-title{
    font-size: 1.3rem;
    color: #fff;
}
.ui-button{
    content: 'X';
}
.save--btn{
    width: 120px;
    height: 30px;
    background-color: crimson;
    color: #fff;
    font-size: 1rem;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.save--btn:hover{
    background-color: rgb(236, 35, 76);
}
.dialog__btn--container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}



// .ui-dialog-titlebar{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 40px;
//     background-color: crimson;
//     padding: 0 10px;
//     border-radius: 8px 8px 0 0;
// }
// .ui-dialog-title{
//     font-size: 1.3rem;
//     color: #fff;
// }
// supplier dialog styles
// .supplier__dialog{
//     background-color: lightblue;
//     padding: 10px;
//     font-size: 1rem;
//     border-radius: 0px 0px 8px 8px;
//     .form__group{
//         margin: 5px 0;
//         label{
//             display: inline-block;
//             width: 32%;
//         }
//         input{
//             display: inline-block;
//             width: calc(100% - 38%);
//             padding: 5px;
//             font-size: 1rem;
//         }
//         input:focus{
//             outline: 1px solid crimson;
//         }
//         select{
//             display: inline-block;
//             width: calc(100% - 35%);
//             padding: 5px;
//             font-size: 1rem;
//         }
//         .dialog__btn--container{
//             display: flex;
//             justify-content: center;
//             align-items: center;
//             margin-top: 30px;
//             .btn{
//                 width: 120px;
//                 height: 30px;
//                 background-color: crimson;
//                 color: #fff;
//                 font-size: 1rem;
//                 border: 0;
//                 border-radius: 4px;
//                 cursor: pointer;
//                 transition: all 0.3s ease;
//             }
//             .btn:hover{
//                 background-color: rgb(236, 35, 76);
//             }
//         }
//     }
// }  
.main.toggled__margin--left{
    margin-left: 80px !important;
}