.supplier__submit--form{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgba(0,0,0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    .supplier__submit__form--close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        color: $text-white;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .supplier__submit__form--close:hover{
        color: $text-warning;
    }
    .supplier__dialog{
        width: 450px;
        height: auto;
        border-radius: 8px;
        background-color: $bg-light;
        padding-bottom: 10px;
        .supplier__dialog--heading{
            border-bottom: 1px solid $border-dark;
            margin-bottom: 10px;
            h3{
                text-align: center;
                padding: 10px 0;
                font-size: 1.6rem;
            }
        }
        .form__group{
            padding: 0 15px;
            input,
            select{
                display: block;
            }
            label{
                display: inline-block;
                width: 100%;
                font-size: 1.2rem;
                color: $text-dark;
            }
            .error--msg{
                font-size: 15px;
                color: $text-warning;
            }
            input,
            select,
            .save--btn{
                display: inline-block;
                width: 100%;
                margin: 5px 0;
                padding: 7px;
                border: 1px solid $border-primary;
            }
            input:focus{
                outline: 1px solid $border-secondary;
            }
            .save--btn{
                cursor: pointer;
                background-color: $bg-primary;
                transition: all 0.3s ease;
                color: $text-white;
                font-size: 1.1rem;
            }
            .save--btn:hover{
                background-color: $bg-secondary;
            }
        }
    }
}
// supplier add close 
.supplier__submit--form.close{
    top: -200%;
}
.main{
    .container{
        .show__table--container{
            .heading__btn--container{
                .btn__container{
                    .add--supplier{

                    }
                }
            }
            .table{
                background-color: $bg-light;
                padding: 10px;
                border-radius: 12px;
                thead{
                    background-color: $bg-secondary !important;
                    tr{
                        height: 40px;
                        background-color: $bg-secondary !important;
                        color: $text-white;
                        border: none;
                        td{
                            border: none;
                            margin: 0 !important;
                        }
                    }
                }
                tbody{
                    tr{
                        text-align: center;
                        td{
                            padding: 10px 0;  
                        }           
                    }
                    tr:nth-child(even){
                        background-color: $bg-info;
                        color: $text-light;
                    }  
                }
            }
        }
    }
}