$bg-primary: #007BFF;
$bg-secondary: #6C757D;
$bg-success: #28A745;
$bg-danger: #DC3545;
$bg-warning: #FFC107;
$bg-info: #17A2B8;
$bg-light: #F8F9FA;
$bg-dark: #343A40;
$bg-white: #FFFFFF;
$bg-lightWhite: #d8d2d2;
// text
$text-primary: #007BFF;
$text-secondary: #6C757D;
$text-success: #28A745;
$text-danger: #DC3545;
$text-warning: #FFC107;
$text-info: #17A2B8;
$text-light: #F8F9FA;
$text-dark: #343A40;
$text-white: #FFFFFF;
// border
$border-primary: #007BFF;
$border-secondary: #6C757D;
$border-success: #28A745;
$border-danger: #DC3545;
$border-warning: #FFC107;
$border-info: #17A2B8;
$border-light: #F8F9FA;
$border-dark: #343A40;
$border-white: #FFFFFF;